*{
    margin: 0;
}

nav{
    padding: 50px;
    text-align: right;
}

footer{
    background: rgb(128, 0, 255);
}

.nav-enlace{
    border: 2px solid rgb(128, 0, 255);
    border-radius: 25px;
    padding: 10px;
    color: rgb(128, 0, 255);
    margin: 10px;
    text-decoration: none;
    font-family: 'Ropa Sans', sans-serif;
}

.nav-enlace:hover{
    color: white;
    background-color: rgb(128, 0, 255);
    transition: 0.25s;
}

.presentacion{
    padding: 200px 10px 160px 30px;
}

.titulo-pres{
    font-size: 40px;
    margin-bottom: 20px;
    font-family: 'Black Han Sans', sans-serif;
}


.subtitulo-pres{
    font-size: 20px;
}

.presentacion-2{
    background: rgb(128, 0, 255);
    padding: 100px 200px 300px 200px;
}

.titulo-sobremi{
    color: white;
    font-size: 40px;
    text-align: center;
    margin-bottom: 35px;
}

.sobre-mi{
    color: white;
    text-align:center;
    font-size: 25px;
}

.habilidades{
    padding: 400px 10px 400px 10px;
}

.footer{
    padding: 200px 30px 200px 30px;
}

.footer h4{
    color: rgb(214, 214, 214);
    font-size: 30px;
    text-align: center;
}

.logo img{
    width: 75px;
    height: 75px;
}

.redes-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 50px 5px 10px;
}

.redes-container ul li{
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center;
}

.redes-container ul li a{
    display: block;
    padding: 0 10px;
    background: #333;
    color: white;
    line-height: 50px;
    font-size: 22px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .2);
    border-radius: 25px;
    transition: .2s;
}

.redes-container ul:hover a{
    filter: blur(2px);
}

.redes-container ul li a:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .4);
    filter: none;
}

.redes-container ul li a.facebook:hover{
    background: #3b5998;
}

.redes-container ul li a.twitter:hover{
    background: rgba(40, 175, 238, 0.938);
}

.redes-container ul li a.linkedin:hover{
    background: rgba(50, 50, 214, 0.938);
}

.redes-container ul li a.instagram:hover{
    background: rgb(231,236,0);
background: linear-gradient(90deg, rgba(231,236,0,1) 0%, rgba(235,163,17,1) 26%, rgba(209,0,255,1) 100%);
}
