*{
    margin: 0;
    padding: 0;
}

.header{
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
}

.nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    margin: 0 auto;
}

nav .imgLogo{
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center center;
    padding: 0 40px;
    line-height: 80px;
    margin-left: 30px;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item{
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link{
    border: 2px solid rgb(128, 0, 255);
    border-radius: 25px;
    padding: 10px;
    color: rgb(128, 0, 255);
    margin: 10px;
    text-decoration: none;
    font-family: 'Ropa Sans', sans-serif;
}

.nav-menu-link:hover{
    color: white;
    background-color: rgb(128, 0, 255);
    transition: 0.25s;
}

.nav-toggle{
    color: rgb(128, 0, 255);
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    
    display: none;
}

footer{
    background: rgb(128, 0, 255);
}


.presentacion{
    height: 560px;
    padding: 180px 10px 10px 30px;
    display: grid;
    grid-template-columns: 30% 70%;
}

.setup{
    /*height: 440px;
    width: 1000px;*/
    background-size: cover;
    background-position: center center;
    align-content:stretch;
    overflow:hidden;
    object-fit: cover;
    width: 100%;
    height: 433px;    
}

.titulo-pres{
    font-size: 40px;
    margin-bottom: 20px;
    font-family: 'Black Han Sans', sans-serif;
}


.subtitulo-pres{
    font-size: 20px;
}

.presentacion-2{
    background: rgb(128, 0, 255);
    padding: 70px 200px 100px 200px;
}

.titulo-sobremi{
    color: white;
    font-size: 40px;
    text-align: center;
    margin-bottom: 35px;
}

.sobre-mi{
    color: white;
    text-align:center;
    font-size: 25px;
}

.skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 140px 10px;
}

.contenedor{
    width: 70vh;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 30vh;
}

.habilidades{
    width: 500px;
}

.barra{
    width: 400px;
    height: 10px;
    background-color: rgb(165, 165, 165);
    border-radius: 10px;
}
.progreso{
    width: var(--w);
    height: 100%;
    background: rgb(128, 0, 255);
    border-radius: 10px;
}

.who{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.who p{
    text-align: center;
}

.section-metodo{
    background: rgb(128, 0, 255);
}

.metodo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    padding: 100px 0px;
}

.dynamic{
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.responsive{
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.intuitive{
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.fast{
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.trabajos{
    height: 500px;
    margin-top: 100px;
}

.trabajos h2{
    margin-left: 50px;
    font-size: 40px;
}

.misTrabajos{
    font-size: 60px;
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.footer{
    padding: 30px 30px 30px 30px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.footer h4{
    color: rgb(214, 214, 214);
    font-size: 30px;
    text-align: center;
    padding: 20px 10px;
}


.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imgLogo{
    display: flex;
    width: 85px;
    background-size: cover;
    background-position: center center;
}

.redes-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    margin: 30px 50px 5px 10px;
}

.redes-container ul li{
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center;
}

.redes-container ul li a{
    display: block;
    padding: 0 10px;
    background: #333;
    color: white;
    line-height: 50px;
    font-size: 22px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .2);
    border-radius: 25px;
    transition: .2s;
}


.redes-container ul:hover a{
    filter: blur(2px);
}

.redes-container ul li a:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .4);
    filter: none;
}

.redes-container ul li a:hover{
    background: white;
    color: rgb(128, 0, 255);;
}

.derechos p{
    color: white;
    text-align: center;
}

.derechos{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px){
    .header{
        height: 60px;
    }
    
    .nav .imgLogo{
        width: 30px;
        height: 50px;
        background-size: cover;
        background-position: center center;
        padding: 0 20px;
        line-height: 60px;
    }
    
    .nav-menu{
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: #2c3e50;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;

        left: 100%;
        transition: left 0.3s;
    }
    
    .nav-menu-item{
        margin: 0 10px;
        line-height: 80px;
        text-transform: uppercase;
        width: max-content;
    }
    
    .nav-menu-link{
        border-radius: 25px;
        padding: 10px;
        margin: 10px;
        text-decoration: none;
        font-family: 'Ropa Sans', sans-serif;
    }
    
    .nav-menu-link:hover{
        color: white;
        background-color: rgb(128, 0, 255);
        transition: 0.25s;
    }
    
    .nav-toggle{
        display: block;
    }

    .nav-menu_visible{
        left: 0;
    }
}
